.box {
  height: 100px;
  width: 100px;
  background-color: tomato;
}

.box:hover {
  opacity: 0.9;
}

.boxClicked {
  background-color: dodgerblue;
}

.boxDClick {
  height: 200px;
  width: 200px;
}
