.App {
  text-align: center;
}

.Container {
  background-color: #e98580;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 20px;
}

.btn {
  transition: all 0.5s ease;
  color: #df5e5e;
  border: 3px solid #e98580;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}

.btn:hover {
  color: #492f10;
  background-color: #df5e5e;
}
